<iframe class="w-screen" src="https://www.youtube.com/embed/FV3bqvOHRQo?autoplay=1&mute=1&loop=1" frameborder="0"></iframe>

<div class="h-screen bg-white">
    <div class="pt-[20%] px-24 absolute text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold">Aquaman & the Lost Kingdom</h1>
        <p class="inline-block py-6 text-xl w-1/4 flex-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloremque quisquam excepturi maiores qui ipsam veritatis assumenda modi adipisci rerum inventore illo perspiciatis ea ipsum minus deserunt distinctio, saepe suscipit?</p>
        <div>
            <button>
                Play
            </button>
            <button>
                More Info
            </button>
        </div>
    </div>
</div>